
.Item{
  background-color: rgb(45, 45, 45);
}

.title{
  padding: 15px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.title:hover{
  background-color: rgb(65, 65, 65);
}
.content{
  padding: 15px 20px 15px 40px;
  color: white;
}

.open{
  display: block;
}
.close{
  display: none;
}