.option{
  font-size: 19px;
  color: #fff;
  text-align: center;
  padding: 0 20px;
  position: relative;
}

.form{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 70px;
  padding: 0 20px;

}

.input{
  max-width: 450px;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px;
  height: 60px;
  font-size: 20px;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.562);
  position: relative;
}

.button{
  width: -moz-fit-content;
  width: fit-content;
  height: 60px;
  background: #ff000d;
  color: #fff;
  text-transform: uppercase;
  padding: 0 32px;
  font-size: 26px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}

a {
  color: white;
}

button:hover {
  background: #f40612;
}


@media (max-width: 950px) {
  .form {
    flex-direction: column;
    align-items: center;
  }
  .button{
    height: 50px;
    font-size: 16px;
    margin-top: 20px;
    font-weight: bold;
  }
}