.WelcomePageHeader{
  background: url('/src/assets/netflix-bg.jpg');
  position: relative;
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 20px;
}

.Opacity{
  background: rgb(0 0 0 / 40%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.navHeader{
  max-width: 1500px;
  width: 100hw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  margin-right: 70px;
  margin-left: 70px;
  position: relative;
}

.logo{
  height: 80px;
  width: 180px;
  cursor: pointer;
}

.buttonSignIn{
  background-color: red;
  color: white;
  width: 80px;
  height: 40px;
  font-size: 14px;
  padding: 4px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.Feature{
  text-align: center;
  border: soild green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.HeaderTitle{
  color: white;
  max-width: 1000px;
  font-size: 50px;
  font-weight: 700;
  margin: 0px 50px;
}

.Warning{
  color: white;
  font-size: 26px;
  font-weight: normal;
  margin: 16px auto;
  border: solid red;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
}

@media (max-width: 550px) {
  .WelcomePageHeader {
    padding: 30px 20px;
  }
  .navHeader {
    margin-bottom: 100px;
  }
  .HeaderTitle {
    font-size: 30px;
  }
  .Warning{
    font-size: 18px;
  }
}

.Language{
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 20px;
}
.Language:hover{
  border: 2px solid white;
}
.Language:Clicked{
  border: 2px solid white;
}