.footer{
  background-color: black;
  max-width: 100hw;
  padding: 30px 36px;
  position: relative;
}

@media (max-width: 740px) {
  .footer {
    padding: 70px 30px;
  }
}

@media (max-width: 500px) {
  .footer {
    padding: 70px 15px;
  }
}

.TitleFooter{  
  font-size: 16px;
  color: #757575;
  margin-bottom: 50px;
  position: relative;
}

.Row{
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: relative;

}

@media (max-width: 740px) {
  .Row {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .Row {
    grid-template-columns: 1fr 1fr;
  }
}

.Column{
  display: flex;
  flex-direction: column;
  position: relative;
}

.Link{
  color: #757575;
  margin-bottom: 20px;
  font-size: 13px;
  position: relative;
}