.Wrapper{
  display: flex;
  flex-direction: column;
  min-height: 550px;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  width: 100hw;
  max-width: 500px;
  padding: 60px 68px 40px;
  margin-top: 80px;
  margin-left: 420px;
  position: relative;
}

@media (max-width: 550px) {
  .Wrapper {
    padding: 40px 20px 40px;
    min-height: 500px;
  }
}

.Title{
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 2rem;
  font-weight: 700;
}

.Text {
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 500;
}

.Link{
  color: #fff;
  text-decoration: none;
  margin-right: 30px;
  cursor: pointer;
  text-decoration: none;
  margin-left: 5px;

}

Link:hover {
  text-decoration: underline;
}

.FormInput {
  background: #151111;
  border-radius: 4px;
  border-color: rgb(167, 163, 163);
  color: #fff;
  height: 50px;
  line-height: 50px;
  padding: 2px 10px;
  margin-bottom: 20px;
}

.ErrorWrapper{
  background: #e87c03;
  border-radius: 4px;
  font-size: 14px;
  margin: 0 0 16px;
  color: white;
  padding: 15px 20px;
}

.TextCaptcha{
  margin-top: 10px;
  font-size: 13px;
  line-height: normal;
  color: #8c8c8c;
}

.Button {
  background: #e50914;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 12px;
  padding: 16px;
  border: 0;
  color: white;
  cursor: pointer;
  opacity: 1;
}

.Form{
  display: flex;
  flex-direction: column;
  max-width: 450px;
  width: 100%;
}

.Warning  {
  color: white;
  font-size: 26px;
  font-weight: normal;
  margin: 16px auto;
  border: solid red;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;

  @media (max-width: 550px) {
    font-size: 18px;
  }
}

.AdminSignIn {
  container-type: inline-size;
  border: 1px solid white;
  background-color: #625e5e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.25rem;
}

.AdminMessage {
  margin-bottom: 0.75rem; /* Equivalent to mb-3 */
}

.AdminEmail .AdminPassword .AdminMessage{
  color: white;
}
