<<<<<<< HEAD
@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-bg {
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url("/hero.png");
}

.shimmer {
	animation: shimmer 2s infinite linear;
	background: linear-gradient(to right, #2c2c2c 4%, #333 25%, #2c2c2c 36%);
	background-size: 1000px 100%;
}

@keyframes shimmer {
	0% {
		background-position: -1000px 0;
	}
	100% {
		background-position: 1000px 0;
	}
}

.error-page--content::before {
	background: radial-gradient(
		ellipse at center,
		rgba(0, 0, 0, 0.5) 0,
		rgba(0, 0, 0, 0.2) 45%,
		rgba(0, 0, 0, 0.1) 55%,
		transparent 70%
	);
	bottom: -10vw;
	content: "";
	left: 10vw;
	position: absolute;
	right: 10vw;
	top: -10vw;
	z-index: -1;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: #4b5563;
	border-radius: 6px;
}

::-webkit-scrollbar-track {
	background-color: #1a202c;
}
=======
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
>>>>>>> 6f5aa610c32b51aeb438c2254b0dfe820be5318f
